
# build tools
# computational libraries
# configs & extra
# Demo only
# Docker base image: `gcr.io/deeplearning-platform-release/tf2-gpu.2-6:latest`
# for process images & videos
# for process, import & export mesh 
# for training differentiable tensors
# for use ML models
# Mesh Processing
# opencv-contrib
# Training
# web tools
#additional requirements for the face detection
#ConfigArgParse
#diffusers >=0.29.0
#einops ==0.7.0
#facexlib
#gevent
#geventhttpclient
#gradio==3.50.0
#imageio ==2.31.1
#imageio-ffmpeg ==0.5.1
#ipdb
#kornia
#librosa  ==0.10.2.post1
#pytorch_lightning
#scikit-image
#scikit-learn
#sentencepiece
#simple-lama-inpainting
#taming-transformers-rom1504
#torch ==2.2.1
#torchvision ==0.17.1
#tqdm ==4.65.2
#transformers ==4.43.2
absl-py==0.12.0
accelerate
accelerate==0.26.1
accelerate>=0.26.0
accelerate>=1.2.1
addict
albumentations>=1.4.16
apache-beam==2.34.0
av==11.0.0
basicsr>=1.4.2
bitsandbytes
bitsandbytes>=0.41.1
bitsandbytes>=0.44.1
blend_modes
blind-watermark
blobfile
boto3==1.34.86
cachetools
chardet
clip_interrogator>=0.6.0
clip-interrogator==0.6.0
cmake
color-matcher
colour-science
cumm==0.7.11 
cython
decord
decord==0.6.0
DeepCache
deepspeed==0.4.0
diffusers
diffusers >=0.29.0
diffusers==0.32.2
diffusers>=0.26.1
diffusers>=0.33.0
dill
easydict
einops
einops==0.7.0
einops>=0.7.0
--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://download.pytorch.org/whl/cu121
face-alignment
face-alignment==1.4.1
facenet-pytorch
facexlib
facexlib>=0.2.5
fairscale>=0.4.4
fal-client
fastapi
faster_whisper
fast-simplification
ffmpeg-python==0.2.0
ffmpeg-python>=0.2.0
ftfy
gdown==4.5.4
gguf>=0.17.1
gin-config==0.5.0
git+https://github.com/ashawkey/kiuikit.git#egg=kiui
git+https://github.com/EasternJournalist/utils3d.git#egg=utils3d
git+https://github.com/facebookresearch/sam2
git+https://github.com/ltdrdata/cstr
git+https://github.com/ltdrdata/ffmpy.git
git+https://github.com/ltdrdata/img2texture.git
git+https://github.com/openai/swarm.git
git+https://github.com/SarahWeiii/diso.git#egg=diso
git+https://github.com/shadowcz007/SenseVoice-python.git
gitpython
google-cloud-bigquery-storage==1.1.0 # Suppresses a harmless error from beam
google-generativeai
gpytoolbox
gradio
gradio==5.12.0
huggingface_hub
huggingface_hub>=0.23.4
huggingface-hub
huggingface-hub==0.25.2
huggingface-hub>=0.10.0
huggingface-hub>=0.23.4
huggingface-hub>0.20
hydra-core
hydra-core>=1.3.2
igraph
imageio
imageio_ffmpeg
imageio==2.27.0
imageio-ffmpeg
inference-cli>=0.13.0
inference-gpu[yolo-world]>=0.13.0
insightface
insightface==0.7.3
iopath
jaxtyping
joblib
json-repair
kornia
lark
lark-parser
libigl
librosa
librosa==0.10.1
librosa==0.8.0
lmdb
loguru
loralib>=0.1.2
lpips==0.1.4
matplotlib
matrix-nio
mediapipe
mediapipe==0.10.11
mediapipe>=0.10.8
mediapy==1.0.3
mmgp
mss
mypy
natsort==8.1.0
natsort>=8.4.0
nerfacc>=0.5.3
ninja
ninja==1.11.1.1
numba
numba==0.58.1
numpy
numpy<2
numpy<2.0
numpy==1.23.4
numpy==1.26.4
OmegaConf
omegaconf==2.3.0
omegaconf>=2.3.0
onnx
onnx>=1.14.0
onnxruntime
onnxruntime-gpu
onnxruntime-gpu; sys_platform != 'darwin' and (platform_machine == 'x86_64' or platform_machine == 'AMD64')
open_clip_torch
open3d
openai
open-clip-torch>=2.24.0
opencv-contrib-python
opencv-contrib-python>=4.2
opencv-python
opencv-python<=4.2
opencv-python==4.9.0.80
opencv-python>=4.7.0.72
opencv-python-headless
opencv-python-headless[ffmpeg]
packaging
pandas==2.0.3
parameterized==0.8.1
pathlib
pccm
peft
peft>=0.12.0
peft>=0.17.0
piexif
pilgram
Pillow
pillow>=10.2.0
pillow>=10.3.0
pillow>=10.4.0
Pillow>=9.4.0
Pillow>=9.5.0
pixeloe
plyfile
prettytable
protobuf
protobuf>=3.20.3
psd-tools
pyarrow
pybind11
pycocoevalcap
pycocotools
pydub
PyGithub
pygltflib
pyhocon
pyloudnorm
pymatting
PyMCubes
pymeshfix
pymeshlab
pyOpenSSL
pytest
python_speech_features==0.6
pytorch_msssim
pytorch-lightning
pytorch-lightning>=2.2.1
pyvista
pyyaml
pyzbar
qrcode
qrcode[pil]
redis
rembg
rembg[gpu]
replicate
requests
requirements-parser
rich
rich_argparse
safetensors
safetensors==0.4.2
scenedetect[opencv-headless]
scenedetect==0.6.1
scikit_image
scikit_learn
scikit-image
scikit-image==0.19.1
scikit-image>=0.20.0
scikit-learn
scipy
scipy>=1.11.4
segment_anything
segment-anything
sentencepiece
sentencepiece==0.2.0
sentencepiece>=0.2.0
slangtorch
soundfile
soundfile>=0.12.1
spandrel
spconv-cu126
surrealist
tb-nightly
tensorboardX
tensorflow==2.6.2 # The latest should include tensorflow-gpu
tensorflow-addons==0.15.0
tensorflow-datasets==4.4.0
timm
timm==0.4.12
timm>=0.4.12
toml
torch
torch==2.0.1
torch==2.4.1
torch>=1.7
torchaudio
torch-fidelity==0.3.0
torchmetrics
torchmetrics==0.7.3
torchmetrics==1.3.1
torchscale
torchscale==0.2.0
torchtyping>=0.1.5
torchvision
torchvision==0.15.2
torchvision==0.19.1
tqdm
tqdm==4.45.0
tqdm==4.64.1
transformers
transformers==4.48.0
transformers>=4.28.1
transformers>=4.36.0
transformers>=4.36.2
transformers>=4.39.0,!=4.50.*
transformers>=4.43.2
transformers>=4.44.0
transparent-background
trimesh
trimesh>=4.0.5
typer
typer_config
typing-extensions
ultralytics
ultralytics>=8.2.0
uv
uvicorn
wandb
watchdog
wget
xatlas
yapf
